@{
    Layout = "~/Views/Share/_Layout.cshtml";
}





 
    @*Start Body*@
    <center>
        <div class="mt-5 p-5 bg-primary text-white rounded">
            <h1>Welcome Route "AboutUs Page"</h1>
            <p>Group 01</p>
        </div>
    </center>
    @*End Body*@


